name: Lint
on: [push, pull_request]

permissions:
  contents: read

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - uses: actions/checkout@v4

      - name: Lint
        run: |
          pip install flake8
          flake8 --ignore=F841,E501 main.py
